<br>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>Sign up</h1>
              <p class="text-muted">Please fill in this form to create an account.</p>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text"><i class="fa fa-envelope"></i></label>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
                  </div>
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <label class="input-group-text"><i class="fa fa-lock"></i></label>
                    </div>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
                  <%= f.label :password_confirmation %>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <label class="input-group-text"><i class="fa fa-lock"></i></label>
                    </div>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <%= f.submit "Sign up", class: "btn btn-primary px-4" %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Login</h2>
                <p>Already have an account?</p>
                <p><%= link_to "Login", new_session_path(resource_name), class: "btn btn-primary btn-md active mt-3" %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
