<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @contexts.each_with_index do |context, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= context.title %></td>
      <td><%= context.description %></td>
      <td><%= context.status %></td>
      <td><%= link_to 'Redact', edit_context_redaction_path(context), class: "btn btn-outline-primary btn-sm mb-3" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
