<div class="accordian py-3" id="accordianExample">
  <% @context.information_posts.each_with_index do |information_post, index| %>
  <div class="card">
    <div class="card-header" id="headingOne-<%= information_post.id %>">
      <h3 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-<%= information_post.id %>" aria-expanded="true" aria-controls="collapseOne">
          <%= information_post.title %>
        </button>
      </h3>
    </div>

    <div id="collapseOne-<%= information_post.id %>" class="collapse <%= index.zero? ? 'show' : '' %>" aria-labelledby="headingOne" data-parent="#accordianExample">
      <div class="card-body">
        <%= information_post.summary %>
        <p class="mt-3">
        <a href="<%= information_post.url %>"><%= information_post.url %></a>
      </p>
        <p class="mt-3">
          <% if current_user && @context.user_id == current_user.id %>
            <%= link_to 'Edit', edit_context_information_post_path(@context, information_post), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Destroy Information', context_information_post_path(@context, information_post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
       </p>
      </div>
    </div>
  </div> <!-- end card one -->
  <% end %>
</div> <!-- end accordian -->
