<div class="jumbotron">
  <div class="container mt-3 pt-3">
    <h1 class="display-4 text-muted">Contextos</h1>
    <p class="lead text-muted">
      Platform saves data input and shows information as a card on the page.
    </p>
    <p class="lead text-muted">
      The goal of this platform is to incorporate all the data and analyze the information.
    </p>
  </div>
</div>

<!-- Start from blog -->
<section id="mu-from-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-from-blog-area">
          <!-- Title -->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="mu-title">
                <h2>From Our Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis.</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mu-from-blog-content">
                <div class="row">
                  <% @contexts.each do |context|%>
                  <div class="col-md-4 mt-3">
                    <article class="mu-blog-item">
                      <a href="<%=context_path(context)%>"><%= image_tag "img-news.jpg"%></a>
                      <div class="mu-blog-item-content">
                        <ul class="mu-blog-meta">
                          <li>by: <%= context.user.email %> </li>
                          <li><%= link_to context.category.name, category_path(context.category_id) if context.category%></li>
                          <li><i class="fa fa-heart-o"></i><%= context.favourites.count %></li>
                        </ul>
                        <h2 class="mu-blog-item-title"><a href="<%=context_path(context)%>"><%= context.title %></a></h2>
                        <p><%= truncate(context.description,length: 50, separator: ' ') %></p>
                        <a class="mu-blg-readmore-btn" href="<%=context_path(context)%>">Read more <i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </article>
                  </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End from blog -->
