<div class="col-md-4 mt-3">
  <article class="mu-blog-item">
    <div class="context-img">
      <a href="<%=context_path(context)%>"><%= load_image_for(context) %></a>
    </div>
    <div class="mu-blog-item-content">
      <ul class="mu-blog-meta">
        <li>by: <%= context.user.email %> </li>
        <li><%= link_to context.category.name, category_path(context.category_id) if context.category%></li>
        <li><i class="fa fa-heart-o"></i><%= context.favourites.count %></li>
      </ul>
      <ul><small class="text-muted"><%= context.created_at%></small></ul>
      <h2 class="mu-blog-item-title"><a href="<%=context_path(context)%>"><%= context.title %></a></h2>
      <p><%= truncate(context.description,length: 50, separator: ' ') %></p>
      <a class="mu-blg-readmore-btn" href="<%=context_path(context)%>">Read more <i class="fa fa-long-arrow-right"></i></a>
    </div>
  </article>
</div>
