

<div class="card-body">
  <div class='row'>
    <div class="col">
      <h1>Listing contexts</h1>
    </div>
    <div class="col">
      <p class="btn btn-outline-primary btn-lg disabled"><%= link_to 'New context', new_context_path %></p>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class="card-deck">
    <% @contexts.each do |context| %>
      <div class="card col-sm-4" style= "padding: 0px;">
        <img class="card-img-top" src="https://www.clicktechtips.com/wp-content/uploads/2017/04/best-news-apps-for-android-users.jpg" alt="Card image">
        <div class="card-body " >
          <h5 class="card-title"><%= context.title %></h5>
          <p class="card-text"><%= context.description %></p>
          <p class="btn btn-outline-primary btn-sm disabled"><%= link_to 'Show', context_path(context) %></p>
          <% if current_user && context.user_id == current_user.id %>
            <p class="btn btn-outline-primary btn-sm disabled"><%= link_to 'Edit', edit_context_path(context) %></p>
            <p class="btn btn-outline-danger btn-sm disabled"><%= link_to 'Destroy', context_path(context), method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <p class="btn btn-outline-primary btn-sm disabled"><%= link_to 'Add information', new_context_information_post_path(context) %></p>
            <p class="btn btn-outline-primary btn-sm disabled">Category:   <%= link_to context.category.name, category_path(context.category_id) if context.category %></p>
          <% end %>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= context.created_at%></small>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
