<div class="container py-3">
  <div class="row justify-content-around">

    <div class="col-sm-6 col-md-4">
      <div class="row">
        <%= load_image_for(@context) %>  
      </div>
    </div>

    <div class="col-sm-6 col-md-8">
      <div class="row text-left">
        <div class="col-12">
          <h2><%= @context.title %></h2>
          <p>by: <%= @context.user.email %></p>
        </div>
        <div class="col-12 mb-3">
          <%= @context.description %>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-12 py-2">
          <% if current_user && @context.user_id == current_user.id %>
            <%= link_to 'Edit', edit_context_path(@context), class: "btn btn-outline-primary btn-sm mb-3" %>
          <% end %>
          <% if current_user%>
          <span id="context-<%= @context.id %>">
            <%= link_to_toggle_context_favourite @context, current_user %>
          </span>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Start related post -->
<div class="container">
  <div class="row py-5">
    <div class="col-sm-12">
      <div class="mu-related-post">
        <h2 class="mu-related-post-title ">You must read</h2>
        <div class="row">
          <div class="col">
            <%= render 'shared/accordian'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
