<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
                  </div>
                  <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                  <div class="row">
                    <div class="col-6">
                      <%= f.submit "Login", class: "btn btn-primary px-4" %>
                    </div>
                    <div class="col-6 text-right">
                      <p> <%= render "devise/shared/links_forgot_your_password", class: "btn btn-link px-0" %></p>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Si deseas crear contextos debes registrarte</p>
                <p> <%= render "devise/shared/links_sign_up"%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
